<div id="block-course-activity-time-edit-{{uniqid}}" class="container-fluid" data-courseid="{{course.id}}">
    <h2>{{#str}}defining_time, block_course_activity_time{{/str}}</h2>
    {{> block_course_activity_time/components/navigation }}
    <div class="d-flex justify-content-between">
        <h3 class="course-name">{{course.fullname}}</h3>
        <p>{{#str}}total_workload, block_course_activity_time{{/str}}<span class="total-time"> {{totalTime}}</span></p>
    </div>
    <div class="pt-3">
        <div class="course-activity-time-table-head row">
            <div class="col-6 text-center">
                {{#str}}name_lable, block_course_activity_time{{/str}}
            </div>
            <div class="col-6 text-center">
                {{#str}}hours_label, block_course_activity_time{{/str}}
            </div>
        </div>
        <div class="course-activity-time-table-body">
            {{#activities}}
                <div class="row pt-2 table-row">
                    <div class="col-6 text-center pt-2 pb-2">
                        {{name}}
                    </div>
                    <div class="col-6 text-center d-flex align-items-center justify-content-center" data-activity="{{id}}">
                    {{#time}}
                        <span class="add-time">
                            {{{time}}}
                        </span>
                    {{/time}}
                    {{^time}}
                        <input type="text" class="insert-time">
                    {{/time}}
                    </div>
                </div>
            {{/activities}}
        </div>
    </div>
</div>
{{#js}}
require(
    [
        'jquery',
        'block_course_activity_time/main'
    ], function ($, Main) {
        let root = $('#block-course-activity-time-edit-{{uniqid}}');
        Main.initEditCourseTime(root);
    }
);
{{/js}}