<div id="block-course-activity-time-edit-{{uniqid}}" class="container-fluid" data-courseid="{{course.id}}">
    <div class="d-flex justify-content-between">
        <h3 class="course-name">{{course.fullname}}</h3>
        <p>Carga Horária total: <span class="total-time"></span></p>
    </div>
    <div class="pt-3">
        <div class="course-activity-time-table-head row">
            <div class="col-4 text-center">
                name
            </div>
            <div class="col-4 text-center">
                hours
            </div>
            <div class="col-4 text-center">
                edit activity
            </div>
        </div>
        <div class="course-activity-time-table-body">
            {{#activities}}
                <div class="row pt-2">
                    <div class="col-4 text-center pt-2 pb-2">
                        {{name}}
                    </div>
                    <div class="col-4 text-center d-flex align-items-center justify-content-center" data-activity="{{id}}">
                    {{#time}}
                        <span class="add-time">
                            {{{time}}}
                        </span>
                    {{/time}}
                    {{^time}}
                        <input type="number" class="insert-time">
                    {{/time}}
                    </div>
                    <div class="col-4 text-center">
                        edit activity
                    </div>
                </div>
            {{/activities}}
        </div>
    </div>
</div>
{{#js}}
require(
    [
        'jquery',
        'block_course_activity_time/main'
    ], function ($, Main) {
        let root = $('#block-course-activity-time-edit-{{uniqid}}');
        Main.initEditCourseTime(root);
    }
);
{{/js}}