<div class="d-flex flex-column course_activity_time_content pb-2 pt-2">
    {{#isStudent}}
        <a href="{{metricsUrl}}">{{#str}} your_progress, block_course_activity_time {{/str}}</a>
    {{/isStudent}}
    {{^isStudent}}
        <a href="{{editCourseUrl}}">{{#str}} edit_course, block_course_activity_time {{/str}}</a>
        <a href="{{usersUrl}}">{{#str}} progress_course, block_course_activity_time {{/str}}</a>
    {{/isStudent}}
</div>